*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial, Helvetica, sans-serif;

background:#0e1d29;

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

padding:25px;

}

.container{

width:100%;

max-width:420px;

text-align:center;

}

h1{

color:#d6b15a;

font-size:48px;

margin-bottom:10px;

}

.subtitle{

color:white;

margin-bottom:45px;

font-size:20px;

}

.language{

display:block;

text-decoration:none;

padding:22px;

margin:18px 0;

background:white;

border-radius:18px;

font-size:26px;

font-weight:bold;

color:#0e1d29;

transition:.25s;

}

.language:hover{

transform:scale(1.02);

}

@media(max-width:600px){

h1{

font-size:42px;

}

.language{

font-size:24px;

padding:20px;

}

}