*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#111;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

}

.page{

    position:relative;

    width:100%;

    max-width:620px;

}

.background{

    width:100%;

    display:block;

}

/* ---------- HOTSPOTS ---------- */

.hotspot{

    position:absolute;

    left:125px;

    width:365px;

    height:82px;

    border-radius:22px;

    cursor:pointer;

    z-index:10;

}

/* ATTIVA QUESTO SOLO PER CONTROLLARE
.hotspot{
    background:red;
    opacity:.35;
}
*/

.fr{

    top:455px;

}

.en{

    top:560px;

}

.it{

    top:665px;

}/* -------- MENU -------- */

.menu-page{

max-width:700px;

margin:40px auto;

padding:25px;

}

.menu-page h1{

color:#d6b15a;

text-align:center;

margin-bottom:30px;

font-size:42px;

}

.menu-btn{

display:block;

text-decoration:none;

background:rgba(0,0,0,.45);

backdrop-filter:blur(12px);

border:2px solid #d6b15a;

border-radius:18px;

padding:18px 22px;

margin:16px 0;

font-size:28px;

color:#d6b15a;

transition:.30s;

}

.menu-btn:hover{

background:rgba(214,177,90,.18);

transform:translateY(-2px);

}

.special{

background:#d6b15a;

color:black;

font-weight:bold;

}